<h1 style="color: white">Message</h1>

<%= form_tag "/messages", method: :post do %>
  <div style="color: white">
    Title
  </div>
  <div>
    <input type="text" name="title"><br>
  </div>
  
  <div style="color: white"><br>
  Message
    
  </div>
  <div>
    <textarea class="text_box" type="text" name="message"></textarea>
  </div>

  <input type="hidden" name="group_id" value="<%=@group.id%>">

  
  <div>
    <input type="submit" value="Create Message"> 
  </div>
<% end %>