<h1>Message</h1>

<%= form_tag "/messages", method: :post do %>
  <div>
    Title <input type="text" name="title"><br>
  </div>
  
  Message
  <div>
    <textarea class="text_box" type="text" name="message"></textarea>
  </div>

  <input type="hidden" name="group_id" value="<%=@group.id%>">

  
  <div>
    <input type="submit" value="Create Message"> 
  </div>
<% end %>