<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top"><br>

    <!-- Navigation -->
    

    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="brand-heading" align="center">QMessage</h1>
                        <p class="intro-text" align="center">A quick, simple, online sms sending app.
                            <br>Developed to ease communication.</p>
                        <a href="#about" class="btn btn-circle page-scroll">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-8">
                <h2>About QMessage</h2>
                <center> QMessage is an web application that helps you to send sms either one or more to one person or a group of people.</center><br>
                <center>This web app is mainly used for communication from one person to a large number of people</a> This can be events invitation, meeting communicaton, or announcements.</a></center><br>
                <center>QMessage allows users to signup and have access to create their contacts, create group for their contacts, create message, and send messages to their group containing many contacts.</center>
            </div>
        </div>
    </section>
    

    <!-- Contact Section -->
    <section id="contact" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Contact QMessage</h2>
                <center>Feel free to email us to provide some feedback on our web app, give us suggestions for new features, or to just say hello!</center>
                <!-- <p><a href="mailto:feedback@startbootstrap.com">feedback@startbootstrap.com</a>
                </p> -->
                <ul class="list-inline banner-social-buttons">
                    <!-- <li>
                        <a href="https://twitter.com/SBootstrap" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                    </li> -->
                    <li>
                        <a href="https://github.com/QMessage" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
                    </li>
                    <!-- <li>
                        <a href="https://plus.google.com/+Startbootstrap/posts" class="btn btn-default btn-lg"><i class="fa fa-google-plus fa-fw"></i> <span class="network-name">Google+</span></a>
                    </li> -->
                </ul>
            </div>
        </div>
    </section>

    <!-- Map Section -->
    <div id="map"></div>

    <script src="vendor/jquery/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

    <%= yield %>

    <footer style="padding-bottom: 0px">
        <div class="container text-center">
            <p>Copyright &copy; QMessage 2017</p>
        </div>
    </footer>

</body>