.intro .intro-body {
  display: table-cell;
  vertical-align: middle;
}

.content-section {
  // vertical-align: middle;
  text-align: center;
  padding-left: 200px;
  padding-right: 200px;
  color: #ADD8E6;
}

.intro-text {
  color: #ADD8E6;
}

.brand-heading {
  color: #DCDCDC;
}